<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- importing the font that is called inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- importing the style sheets-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>

    <!-- importing our javasctipt -->
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="light">
    <nav class="navbar container-fluid">
      <ul class="navbar_list glass">
        <li><a href="{{ url_for('main') }}">main</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li class="has_dropdown">
          <a id="swatch" href="#">theme</a>
          <!-- <ul class="dropdown ">
            <li class="dropdown_item"><a id="dark" href="#">dark</a></li>
            <li class="dropdown_item"><a id="light" href="#">light</a></li>
          </ul>
        </li> -->
        </li>

        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li>
          <a href="{{ url_for('sign_up') }}">sign up</a>
        </li>
      </ul>
    </nav>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
