<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- importing the font that is called inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- importing the style sheets-->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <title>{% block title %}{% endblock %}</title>

    <!-- importing our javasctipt -->
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="light">
    <nav class="navbar container-fluid">
      <ul class="navbar_list glass">
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('views.home') }}">GYM</a></li>
        <li><a id="swatch" href="#">theme</a></li>
        <li><a href="{{ url_for('views.gym_login') }}">gym</a></li>
        {% if current_user.gym_check_in %}
        <li><a href="{{ url_for('views.check_out') }}">check_out</a></li>
        {% else %}
        <li><a href="{{ url_for('views.check_in') }}">check_in</a></li>
        {% endif %}
        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a id="swatch" href="#">theme</a></li>
        <li><a href="{{ url_for('auth.sign_up') }}">sign up</a></li>
        {% endif %}
      </ul>
    </nav>

    <div class="flash">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category,message in messages %} {% if category==
      'error' %}
      <div class="error">{{message}}</div>
      {% else %}
      <div class="success">{{message}}</div>
      {% endif %} {% endfor %} {% endif %} {% endwith %}
    </div>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
