{% extends "layout.html" %} {% block title %} sign_up {% endblock %} {% block
content %}
<form action="{{ url_for('auth.sign_up') }}" method="post">
  <label for="">Email</label>
  <input
    autofocus
    id="email"
    name="email"
    placeholder="Enter you're email"
    type="email"
  />
  <label for="username">username</label>
  <input
    autocomplete="off"
    id="username"
    name="username"
    placeholder="Username"
    type="text"
  />
  <label for="password1">password</label>
  <input
    id="password1"
    name="password1"
    placeholder="Password"
    type="password"
  />
  <label for="password2">confirmation</label>
  <input
    id="password2"
    name="password2"
    placeholder="confirm you're password"
    type="password"
  />
  <label></label>
  <button type="submit">sign up</button>
</form>
{% endblock %}
